*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#111;
color:white;
}

header{
background:#000;
padding:20px 50px;
display:flex;
justify-content:space-between;
align-items:center;
border-bottom:3px solid orange;
}

header h1{
color:orange;
}

.container{
width:90%;
max-width:800px;
margin:40px auto;
background:#1e1e1e;
padding:30px;
border-radius:15px;
}

h2{
text-align:center;
color:orange;
margin-bottom:30px;
}

.metodo{
background:#2b2b2b;
padding:20px;
margin-bottom:15px;
border-radius:10px;
cursor:pointer;
transition:.3s;
display:flex;
align-items:center;
gap:15px;
}

.metodo:hover{
background:#ff6600;
}

.metodo input{
transform:scale(1.4);
}

.formulario{
display:none;
margin-top:25px;
}

.formulario input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:8px;
font-size:16px;
}

button{
width:100%;
padding:15px;
margin-top:25px;
background:orange;
border:none;
color:white;
font-size:18px;
font-weight:bold;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#ff7b00;
}

.mensaje{
background:#2b2b2b;
padding:20px;
border-radius:10px;
margin-top:20px;
display:none;
}